
/* #first{
    background-color: lightcoral;
}
#second{
    background-color: lightblue;
}
.paragraph{
    color: green;  
}

.red{
    background: red;
}
.red{
    background: blue;
    color: white;
}
#header{
    color:blue;

}

.container{
    width: 1000px;
    height: 500px;
    border: 2px solid black;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200px;
    background-position: top center;
} */
.box1{

    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
    float: left;
}
.box2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: lightpink;
    margin: 20px;
    padding: 20px;
    float: left;
}
*{
    
    margin: 0;
    padding: 0;
}
.navebar{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.right{

     
   
    background-color: rgb(206, 66, 66);
    display: inline-block;
    width: 200px;
     height: 60vh;

}
.left{
    
 
    background-color: rgb(7, 164, 83);
     display: inline-block;
    width: 200px;
     height: 60vh;

}
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(52, 8, 111);
    color: white;
    text-align: center;
    line-height: 50px;
    padding: 20px;
}
.center{
    text-align: center;
}
.navebar ul li a{
    
    color: white;
    text-decoration: none;
   
}
.navebar ul li {
    
  
    display: inline-block;
    margin: 20px;
    font-size: 20px;
   
}

